      h1 {
        color: #4661b3;
        text-align: center;
      }
      h2 {
        color: #DE1FC6;
        text-align: left;
      }
      button {
        color:#371FDE;
      }
      p {
        color:red;
      }
